/* 
-----fonts----
font-family: "Open Sans", sans-serif;
font-family: 'My Riyad-Pro';
font-family: "Open Sans", sans-serif
 */

 @font-face {
    font-family: 'My Riyad-Pro';
    src: url('fonts/MYRIADPRO-REGULAR.OTF')format('truetype');
 }
