* {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 
-----fonts----
font-family: "Open Sans", sans-serif;
font-family: 'My Riyad-Pro';
font-family: "Oswald",sans-serif;
 */

@font-face {
  font-family: 'My Riyad-Pro';
  src: url('fonts/MYRIADPRO-REGULAR.OTF')format('truetype');
}

/* ---topbar css--- */
.topbar {
  background-color: #0872b9;
  height: 32px;
}

.welcome-text {
  color: #e7e7e7;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-icon {
  display: inline-flex;
}

.social-icon li {
  margin-left: 25px;
}

.social-icon li a {
  color: #e7e7e7;
}

.social-icon li a:hover {
  color: #353535;
  transition: all ease-in-out 0.3s;
}

/* ---topbar css--- */
/* ---navisitionbar start---- */
.nav-item .nav-link:hover {
  color: #4488c3;
}

.nav-item .active {
  color: #4488c3 !important;
}

/* ---navisitionbar end---- */
/* ----banar start---- */
.banar-main {
  background-image: url(../img/banar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banar-overlay {
  padding: 90px 0;
  background-color: rgb(0, 0, 0, 0.6);
}

.bannar-content {
  text-align: right;
}

.bannar-content h2 {
  font-family: "Oswald",sans-serif;
  font-weight: 700px;
  font-size: 40px;
  color: #ffff;
}
.bannar-content p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  font-size: 13px;
  color: #ffff;
  margin: 30px 0;
}
.button-group button{
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #ffff;
  margin-left: 20px;
  font-weight: 600px;
  transition: all ease-in-out 0.3s;
}
.button-group button:hover{
  background-color: #0872b9;
  border: 2px solid #0872b9;
  transition: all ease-in-out 0.3s;
}
/* ----banar end---- */

/* ----common heading start---- */
.common-heading{
  margin: 60px 0 40px;
  font-family: "Oswald",sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.common-heading p{
  position: relative;
}
.common-heading p::before{
  content: "";
  height: 1px;
  width: 47px;
  background-color: #0872b9;
  position: absolute;
  bottom: 0 ;
}
.common-heading p::after{
  content: "";
  height: 1px;
  width: 3px;
  background-color: #0872b9;
  position: absolute;
  bottom: 0;
  left: 50.2%;
}
.common-heading p span::before{
  content: "";
  height: 1px;
  width: 2px;
  background-color: #0872b9;
  position: absolute;
  bottom: 0;
  left: 50.6%;
}
.common-heading p span::after{
  content: "";
  height: 1px;
  width: 1px;
  background-color: #0872b9;
  position: absolute;
  bottom: 0;
  left: 51%;
}

/* ----common heading end---- */
/* about part */
.about-content p{
  margin: 30px 0;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
/* about part */
/* service part  */
.service-main{
  background-color: #f1f1f1;
  padding: 50px 30px 30px 30px;
  transition: all ease-in-out 0.3s;
  position: relative;
  margin-top: 60px;
}
.service-main h3{
  font-family: "Oswald",sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 18px ;
}
.service-main p{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #555555;
}
.ser-one{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ser-two{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
}
.ser-three{
  height: 69px;
  width: 69px;
  border: 3px solid white;
  border-radius: 50%;
  background-color:#f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
}
.service-main:hover {
  box-shadow: -1px 0px 20px -3px rgb(0, 0, 0, 0.75) ;
  transition: all ease-in-out 0.3s;
}
.service-main:hover .ser-two{
  background-color: #5bc5f4;
  transition: all ease-in-out 0.3s;
}
.service-main:hover .ser-three{
  background-color: #5bc5f4;
  transition: all ease-in-out 0.3s;
}
/* service part  */

/* portfolio part */
.portfolio-img{
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.portfolio-overlay{
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;

}
.link-shap{
  height: 40px;
  width: 40px;
  background-color: #5bc5f4 ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-img:hover .portfolio-overlay{
  transform: scale(1);
  transition: all ease-in-out 0.3s;
}

/* portfolio part */
/* team-main */
.team-img{
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
  height: 270px;
}
.team-content h3{
  font-family: "Oswald",sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  text-align: center;
  margin-top: 5px;
}
.team-content p{
  font-family: "Oswald",sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #353535;
  text-align: center;
  margin-top: 5px;
}
.team-overlay{
  position: absolute;
  height: 100%;
  width: 35%;
  background-color: rgb(0, 0, 0, 0.6);
  top: 0;
  right: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
}
.team-main:hover .team-overlay{
  right: 0;
  transition: all ease-in-out 0.3s;
}
.team-content h3{
   transition: all ease-in-out 0.3s;
}
.team-main:hover .team-content h3{
  color: #5bc5f4;
  transition: all ease-in-out 0.3s;
}
.team-overlay ul li {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.team-overlay ul li :hover{
  background-color: #5bc5f4;
  border: 2px solid #5bc5f4;
}
.team-overlay ul li a{
  color:#f1f1f1 ;
}
/* team-main */
/* Testimonial part  */
.test-content {
  background-color: #f1f1f1;
  padding: 20px;
  margin-top: 40px;
  position:relative ;
}
.piramid{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  height: 30px;
  width: 30px;
  background-color: #f1f1f1 ;
  z-index: -1;
}
.test-content h3{
font-family: "Oswald",sans-serif; 
font-weight: 500;
font-size:16px ;
color: #353535;
}
.test-content ul{
  display: inline-flex;
}
.test-content ul li i{
  font-size: 13px;
  color: #5bc5f4;
}
.test-content h4{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  color: #353535;
  font-size: 13px;
  margin: 8px 0;
}
.test-content p{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  color: #353535;
  font-size: 13px;
}
/* Testimonial part  */

/* footer part start */
footer{
  background-color:#353535;
  margin-top: 60px;
  color:#f1f1f1 ;
  padding-bottom: 20px;
}
.footer-first{
  padding-top: 20px;
}
.footer-first p{
  font-size:13px ;
  margin: 30px;
  line-height: 32px;
}
.footer-coomon-heading{
  font-family: "Oswald",sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.footer-second{
  padding-top: 30px;
}
.footer-contact{
  margin-top: 30px;
}
.footer-contact p{
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
.footer-thard{
  padding-top: 30px;
}
.footer-thard ul{
  margin-top: 30px;

}
.footer-thard ul {
  margin-bottom: 20px;
}
.footer-thard ul a{
  color: #f1f1f1;
}
.footer-thard ul li a:hover{
  color: #5bc5f4;
}
.footer-fourt{
  padding-top: 30px;
}
.flickr-photo{
  margin-top: 30px;
}
.footer-last{
  padding: 10px;
  text-align: center;
  background-color: #555555;
  color:#f1f1f1;
}
.footer-last p{
  font-size: 13px;
}
/* footer part end */